.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App .navbar-brand {
  font-weight: bold;
}

.App .container{
  align-content: center
}

.App-link {
  color: #61dafb;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}