/* Note: This is css we want to implement later, but should not show up on any live pages. */

* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    color: #1b0000;
}

/* Links */

a:link, a:visited {
    color: #8b0000;
    text-decoration: none;
}

a:hover, a:active {
    color: #bb0000;
    text-decoration: none;
}

/* Lists */

ul.trackList {
    padding-left: 20px;
    text-align: left;
    list-style-type: decimal-leading-zero;
}

ul.topMenu {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul.topMenu li{
    display: inline-block;
}

ul.topMenu li a {
    text-decoration: none;
    color: #fee8c1;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul.topMenu li a:hover{
    background-color: #fee8c1;
    color: #000;
}

ul.topMenu li.active a{
    background-color: #fee8c1;
    color: #000;
}

ul.memberList {
    top: 200px;
    position: relative;
    width: 80%;
    left: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul.memberList li {
    display: inline-block;
    margin: auto;
    padding-bottom: 20px;
}

/* Tables */

table, th, td {
    border-bottom: 1px solid #1b0000;
    border-collapse: collapse;
    background-color: #fee8c1;
    padding: 10px;
    text-align: center;
}

table {
    width: 100%;
}

/* Containers */

.main{
    height: 50px;
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

.title{
    position: relative;
    top: 150px;
    left: 10%;
    right: 10%;
    width: 80%;
}

.title h1{
    color: #fee8c1;
    font-size: 70px;
}

.title p1{
    color: #fee8c1;
    font-size: 15px;
}

.table-container {
    border: 1px solid #fee8c1;
    border-radius: 5px;
    background-color: #fee8c1;
    opacity: 0.95;
    width: 100%;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

.memberCard {
    width: 300px;
    height: 400px;
    background-color: #fee8c1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #00000077;
    transition: 0.3s;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.memberCard:hover {
    box-shadow: 0 8px 16px 0 #00000077;
}

/* Images */

img.profilePic {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 70%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}